.mouseFollower {
  opacity: 1;
  pointer-events: none;
  position: fixed;
  z-index: 100000;
  transform: translate3d(calc(var(--x) * 1px), calc(var(--y) * 1px), 0);
  transform-origin: center;
  
  &.hovering .label {
    transform: scale(1);
    opacity: 1;
  }
}

.label {
  left: 3.2rem;
  top: 2.6rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.8rem 1.6rem;
  transform-origin: right;
  color: #fff;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  position: absolute;
  border-radius: 10rem;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
