.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 1vw;
  z-index: 1000;
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.scroll-to-top.visible {
  transform: translateY(0);
}

@media (max-width: 479px) {
  .scroll-to-top {
    padding: 10px 2vw;
  }
}
