.nav {
  width: 100vw;
  position: fixed;
  top: 5px;
  display: flex;
  justify-content: flex-end;
  color: #c0c0c0;
  z-index: 100;

  p {
    margin-right: 2vw;
    cursor: pointer;
    transition: color 0.5s ease;

    &:hover,
    &.active {
      color: #000;
    }
  }
}

.categoryButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: var(--padding-responsive);
  mix-blend-mode: difference;
  color: #6b6b6b;
  display: none;
  z-index: 1000;
}

.categoryContainer {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  p {
    margin: 1.2vh 0;
  }

  &.open {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }

  .categoryButton {
    display: block;
  }
}