.buttons {
  position: absolute;
  top: 21.5vh;
  transform: translateY(-100%);
  width: 98vw;
  margin: 0 1vw;
  display: flex;
  justify-content: space-between;
}

.arrow-icon {
  width: 1rem;
  height: 0.8rem;
  transform: scaleX(-1);
}

.buttons p {
  cursor: pointer;
  color: #c0c0c0;
  transition: color 0.3s ease;
}

.buttons p:hover,
.buttons p.active {
  color: #000;
}

.grid-container {
  width: 98vw;
  margin: 0 1vw;
  display: flex;
  justify-content: space-between;
}

.image-column {
  width: 23.7vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.grid-img {
  transition: transform 0.3s ease;
}
.img-container:hover .grid-img {
  transform: scale(1.05);
}

.slide-container {
  position: relative;
  width: 98vw;
  height: 78vh;
  margin: 0 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slide-container img {
  max-height: 100%;
}

.slide-index {
  margin: 5px 1vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.project-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 0;
}

.project-info:hover {
  opacity: 1;
}

.arrow {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #c0c0c0;
  transition: color 0.3s ease;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #000;
}

@media (max-width: 497px) {
  .buttons {
    width: 96vw;
    margin: 0 2vw;
    top: 21vh;
  }

  .arrow-icon {
    height: 0.6rem;
  }

  .slide-container {
    width: 96vw;
    height: 73vh;
    margin: 0 2vw;
    justify-content: center;
  }
  
  .slide-container img {
    max-width: 100%;
  }

  .slide-index {
    width: 100vw;
    margin: 0;
    bottom: 10px;
    text-align: center;
  }

  .arrow {
    display: none;
  }
}


@media (max-width:768px) {
  .image-column {
    width: 30.6vw;
    gap: 2vw;
  }

  .grid-container {
    width: 96vw;
    margin: 0 2vw;
  }
}
