.buttons {
  position: absolute;
  top: 21.5vh;
  transform: translateY(-100%);
  width: var(--width-responsive);
  margin: var(--margin-responsive);
  display: flex;
  justify-content: space-between;

  p {
    cursor: pointer;
    color: #c0c0c0;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: #000;
    }
  }
}

.arrowIcon {
  width: 1rem;
  height: 0.8rem;
  transform: scaleX(-1);
}

.gridContainer {
  width: var(--width-responsive);
  margin: var(--margin-responsive);
  display: flex;
  justify-content: space-between;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imageColumn {
  width: 23.7vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.gridImg {
  transition: transform 0.3s ease;
}

.slideContainer {
  width: var(--width-responsive);
  height: 78vh;
  margin: var(--margin-responsive);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    height: 100%;
    width: 90%;
    object-fit: contain;
  }
}

.slideIndex {
  margin: 5px 1vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.imgContainer {
  position: relative;
  overflow: hidden;

  &:hover .gridImg {
    transform: scale(1.05);
  }
}

.projectInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 0;

  span:last-child {
    font-size: smaller
  }
  
  &:hover {
    opacity: 1;
  }
}

.arrow {
  background: none;
  border: none;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  cursor: pointer;
  color: #c0c0c0;
  transition: color 0.3s ease;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.leftArrow:hover,
.rightArrow:hover {
  color: #000;
}

@media (max-width: 479px) {
  .buttons {
    top: 21vh;
  }

  .arrowIcon {
    height: 0.6rem;
  }

  .slideContainer {
    height: 73vh;
    justify-content: center;
  }

  .slideIndex {
    width: 100vw;
    margin: 0;
    bottom: 10px;
    text-align: center;
  }

  .arrow {
    display: none;
  }
}


@media (max-width:767px) {
  .imageColumn {
    width: 30.6vw;
    gap: 2vw;
  }

  .gridContainer {
    width: 96vw;
    margin: 0 2vw;
  }
}