body {
  background-color: #fff;
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

span {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (max-width: 479px) {
  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.8rem
  }

  span {
    font-size: 0.6rem;
  }
}